In [1]:
import numpy

In [3]:
print("fi")

fi

In [4]:
x = 1

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({"a":[1,23,4]})

In [7]:
df

    a
0   1
1  23
2   4